
{% extends "../Base/index.html" %}

{% block title %}
  loggin
{% endblock %}

{% block content %}
<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
  }

  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
    text-align: center;
    position: relative; /* Agregado para establecer un contexto de posición relativa */
  }

  input {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    display: inline-block;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  input:focus {
    outline: none;
    border-color: #007bff;
  }

  p {
    color: red;
  }

  .contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 880px;
  }

  .contenedor-login img {
    width: 180px;
    height: 180px;
    position: absolute;
    margin-left: 60px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  #login{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }
  #password{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

  .formulario {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 190px;
    margin-top: 5px;
  }

  .hidden {
    display: none;
  }

  .oculto {
    display: none;
  }
  input[type="submit"].btn-login {
    background-color: #001f3f; /* Cambia el color de fondo aquí */
    color: #ffffff;
    cursor: pointer;
    position: relative;
  }
  .input-icon svg {
    background-color: #ffffff; /* Color de fondo blanco */
    padding: 5px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Ajusta el radio del borde según sea necesario */
  }
</style>
<!-- Login -->
<div class="contenedor-login">
  <div class="imagen">
    <img src="../../../productionfiles/WhatsApp Image 2023-12-01 at 8.36.35 AM.jpeg" alt="">
  </div>
</div>
<div class="formulario">
  <form method="post">
    {% csrf_token %}

    <div style="position: relative;">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="username"
        placeholder="usuario"
      />
      <span class="input-icon">
        <i class="fas fa-user"></i> <!-- Icono de usuario -->
      </span>
    </div>

    <div style="position: relative;">
      
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
      />
      <span class="input-icon" onclick="togglePasswordVisibility()">
        <i class="fas fa-eye" id="eye-icon"></i> <!-- Icono de ojo -->
      </span>
    </div>

    {% if form.non_field_errors %}
      <div class="alert alert-danger" id="error-message">
        <strong>¡Error!</strong> En credenciales, intentelo de nuevo
      </div>
    {% endif %}

    <div style="position: relative;">
      <input type="submit" class="fadeIn fourth btn-login" value="Log In" />
      <span class="input-icon" style="right: 75px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
      </span>
    </div>
  </form>
</div>
<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById('password');
    var eyeIcon = document.getElementById('eye-icon');
    
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      eyeIcon.classList.remove('fa-eye');
      eyeIcon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      eyeIcon.classList.remove('fa-eye-slash');
      eyeIcon.classList.add('fa-eye');
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    const errorMessage = document.getElementById('error-message');
  
    if (errorMessage) {
      setTimeout(() => {
        errorMessage.style.display = 'none';
      }, 10000);
    }
  });
</script>
{% endblock %}